*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #E7E7E7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-family: Cambria, Georgia, serif;
  color: rgba(0, 0, 0, 0.82);
}
a{
  color: #890101;
  text-decoration: none;
}

.container {
  width: 95%;
  margin: auto;
}
  /*NAV BAR*/

header ul {
  margin-top: 10.5%;
  border-top: 1px solid black;
  list-style: none;
  padding-left: 0;
}

header ul li {
  float: left;
  margin-right: 3.4%;
  width: 31%;
  font-size: 1.9em;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
}

header ul li:last-child{
  margin-right: 0;
}

ul a{
  display: block;
  padding: 1em 0.5em 1em;
}

header li span {
  display: block;
  font-style: normal;
}

  /*MAIN CONTENT*/

article {
  clear: both;
  text-shadow: 1px 1px 0 white;
}

article p {
  margin-top: 1.5%;
  font-size: 1.5em;
  line-height: 2.5em;
}

article h1 {
  font-size: 3.1em;
  text-align: center;
  font-weight: 300;
  letter-spacing: .02em;
}

.logo a img {
  min-width: 100%;
}

.wrapper {
  position: relative;
  height: 350px;
  clear: both;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.logo {
  width: 48%;
  height: 300px;
  /*background-image: url("../img/logo-bg.png");*/
  background-position: center center;
  background-repeat: no-repeat;
}

  /*GALLERY*/
.gallery-header {
  clear: both;
  background-position: center;
  background-size: 600%;
  margin: 6% 0;
  width: 100%;
  position: relative;
  height: 64px;
  background-image: url("../img/ornament.png")
}

.gallery-header h2 {
  margin: 0;
  width: 70%;
  padding: 4%;
  font-size: 4.4em;
  text-align: center;
  vertical-align: middle;
  background-color: #E7E7E7;
  font-weight: normal;
}
.gallery ul{
  padding-left: 0;
}

.gallery ul li{
  list-style: none;
  float: left;
  width: 48%;
  margin: 2.8% 1%;
}


.gallery a {
  padding: 0;
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;

}

.gallery ul li a img{
  margin: 0 0 5% 0;
  border-radius: 5%;
  width: 100%;
  box-shadow: 0 10px 5px gray;
}
.gallery span{
  letter-spacing: 0.2em;
  font-size: 1.2em;
  display: block;
  font-weight: bold;
}

footer{
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 15%;
}
