html{
  box-sizing: border-box;
}

body {
  background-color: #E7E7E7;
}

.container {
  width: 90%;
  margin: auto;
}
  /*NAV BAR*/

ul {
  margin-top: 10%;
  border-top: 1px solid black;
  list-style: none;
  padding-left: 0;
}

ul li {
  float: left;
  margin-right: 3.4%;
  width: 31%;
  font-size: 1.7em;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
}

ul li:last-child{
  margin-right: 0;
}

ul a{
  display: block;
  padding: 1em 0.5em 1em;
  color: #890101;
  text-decoration: none;
}

li span {
  display: block;
  font-style: normal;
}

  /*MAIN CONTENT*/

article {
  clear: both;
  font-family: Cambria, Georgia, serif;
}

article p {
  font-size: 1.8em;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.82);
  text-shadow: 1px 1px 0 white;
}

article h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
}

.logo a img {
  min-width: 100%;
}

.wrapper {
  position: relative;
  height: 300px;
  clear: both;
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.logo {
  width: 50%;
  height: 300px;
  /*background-image: url("../img/logo-bg.png");*/
  background-position: center center;
  background-repeat: no-repeat;
}
